@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

.edit-page {
  display: flex;
  height: 100vh;
  color: white;
  background-color: #181818;
  font-family: Consolas, "Nanum Gothic";
}

.tree-container,
.editor-container {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: auto;
}

.tree-container {
  width: 20%;
  border-right: 2px solid #333;

  min-height: 100%;
}

.tree-bar {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-bottom: 2px solid #333;
}

.tree-main {
  padding: 10px;
  overflow: auto;
}

.editor-container {
  width: 80%;
}

.editor-placeholder {
  display: flex;
  width: 100%;
  height: 76vh;
  background-color: #1e1e1e;
}

.editor-image {
  margin: auto;
}

.tabs {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: auto;
}

.tab-list {
  display: flex;
  justify-content: space-between;
}

.tab-button {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.tab {
  padding: 25px 6px 26px 16px;
  border-right: 1px solid #333;
  cursor: pointer;
}

.tab.active {
  background-color: #252526;
  border-bottom: 2px solid rgb(42, 122, 241);
}

.tab-panel {
  border-top: 2px solid #333;
}

.close-tab {
  background-color: #252526;
  color: white;
  border: none;
  cursor: pointer;
}

.close-tab:hover {
  background-color: black;
}

.result {
  height: 30%;
  padding: 20px;
  background-color: #181818;
  color: white;
  border-top: 2px solid #333;
  font-size: 16px;
  overflow: auto;
}

.resize-handle-vertical {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  cursor: ew-resize;
}

.loading-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
