.main-container {
    display: flex;
    flex-direction: row;

    background-color: #ececec;
    /* min-height: 100%; */
    height: 100vh;

    align-items: flex-start;
    justify-content: flex-start;
}