.modal .title,
.password-recheck {
  text-align: center;
  margin: 10px 0; /* 마진을 조정하여 간격을 줄임 */
  width: 100%;
  font-size: 20px;
}

.password-check {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 20px 0; /* 비밀번호 입력 필드와 버튼의 간격 조정 */
}

.modal-button-container {
  width: 100%; /* 컨테이너의 너비를 모달 너비와 동일하게 설정 */
  display: flex; /* Flexbox 레이아웃 사용 */
  justify-content: space-evenly; /* 가운데 정렬 */
  margin-top: 20px; /* 상단 여백 추가 */
}

/* 버튼 컨테이너 스타일 조정 */
.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.buttons-delete,
.buttons-check {
  background-color: #4ed9a5;
  color: black;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  height: 36px;
  width: 100px;
}

#password-input {
  width: 200px;
  padding: 10px;
  margin-bottom: 10px;
  border: 0px;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box; /* 패딩을 너비에 포함 */
}

.error {
  min-height: 20px;
  text-align: center;
  color: red;
}

.error.is-valid {
  color: #4ed9a5;
}
