.sidebar {
    padding: 20px;
    background-color: white;
    box-sizing: border-box;
    min-width: 300px;
    width: 25%;
    height: 100%;
}

    .profilecard {
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: flex-start;
        padding: 20px 10px;
        border-bottom: 1px solid #bbbbbb40;
    }

        .picdisplay {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }

            .pic {
                cursor: pointer;
            }

            .pic img {
                border-radius: 30%;
            }

            .welcomement {
                display: flex;
                flex-direction: column;
                margin-left: 10px;
            }

                .welcomement p {
                    margin: 0px;
                    color: #5c5c5c;
                    font-size: 16px;
                }

    .conspace {
        padding: 20px 10px;
        border-bottom: 1px solid #bbbbbb40;
    }

        .conspace div {
            margin: 10px 0px;
            padding-left: 20px;
            background-color: #bbbbbb40;
            border-radius: 8px;
            height: 50px;
            display: flex;
            align-items: center;
            cursor: pointer;
            color: #5c5c5c;
            font-weight: bold;
        }

    .dmlist {
        padding: 20px 10px;
        
    }

        .dmlist div {
            margin: 10px 0px;
            padding-left: 10px;
            background-color: #bbbbbb40;
            border-radius: 8px;
            height: 50px;
            cursor: pointer;
            display: flex;
            align-items: center;
        }

        .dmlist img {
            width: 32px;
            height: 32px;
            padding: 0px;
            margin: 0px;
            margin-right: 10px;
            border-radius: 30%;
        }

        .dmlist p {
            color: #5c5c5c;
            font-weight: bold;
        }

    summary {
        display: block;
        position: relative;
        cursor: pointer;
        font-weight: bold;
    }

    summary::before {
        content: "";
        position: absolute;
        border-top: 0.4em solid transparent;
        border-bottom: 0.4em solid transparent;
        border-right: 0.45em solid rgb(40, 40, 40);
        top: 0.3em;
        right: 0;
        transition: .1s transform;
    }

    details[open] summary:before {
        transform: rotateZ(-90deg);
    }